<h1>Song Form</h1>
<%= form_for (Song.new) do |f| %>
<label for="name">Song name:</label>
<%= f.text_field :name %>
<label for="artist_id">Artist id:</label>
<%= f.number_field :artist_id %>
<label for="genre_id">Genre id:</label>
<%= f.number_field :genre_id %>
<%= f.submit "Update Song" %>
<% end %>
